/* Rainbow Animation */
:root {
    --rainbowline: linear-gradient(90deg, magenta, red, yellow, lime, cyan, blue, magenta, red, yellow, lime, cyan, blue, magenta);
}

.rainbowline-backround {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: var(--rainbowline);
    background-size: 200%;
    border-radius: 50%;
    animation: rainbowline 3s linear infinite;
}

.moon {
    height: 25%;
    width: 25%;
    position: absolute;
    border-radius: 50%;
}

.moon.num1 {
    background: lightgray;
    transform-origin: 290% 200%;
    animation: 6s linear -2s infinite orbit;
}

.moon.num2 {
    background: darkgray;
    transform-origin: 410% 200%;
    animation: 9s linear -7s infinite orbit;
}

.moon.num3 {
    background: gray;
    transform-origin: 530% 200%;
    animation: 14s linear 0s infinite orbit;
}

.rainbowline-text {
    background: var(--rainbowline);
    background-size: 200%;
    animation: rainbowline 3s linear infinite;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes rainbowline {
    0%{background-position:0%}
    100%{background-position:100%}
}

@keyframes orbit {
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}

/* Prestige button */
.reset {
	height: 120px;
	width: 180px;
	border-radius: 25%;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

.tabButton {
	background-color: transparent;
	color: var(--color);
	font-size: 20px;
	cursor: pointer;
	padding: 5px 20px;
	margin: 5px;
	border-radius: 10px;
	border: 2px solid;
	color: var(--color);

}

.tabButton:hover {
	transform: scale(1.1, 1.1);
	text-shadow: 0 0 7px var(--color);
}

.tooltip { 
    pointer-events: none;
    text-align: center;
    width: 150px;
    font-size: 16px;
    line-height: 1.2;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    padding: 7px;
    font-family: "Lucida Console", "Courier New", monospace;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    z-index: 20000;
    background-color: var(--background_tooltip);
    color: var(--points);
    content: attr(tooltip);
    font-size:14px;

}

.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background_tooltip) transparent transparent transparent;
}

/* Horizontal/vertical lines */
.vl {
	border-left: 6px solid var(--color);
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0
}

.hl {
	border-top: 3px solid var(--color);
}
